@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-secondary" asp-action="SendMessage">Send Message</a>
    <a class="btn btn-secondary" asp-action="SaveAndRollbackMessage">Send and Rollback Message</a>
</div>