<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../Content/css/normalize.css">
        <link rel="stylesheet" href="../Content/css/main.css">
        
	    <script src="../Scripts/lib/jquery-1.9.0.js" type="text/javascript"></script>
        <script src="../Scripts/lib/knockout-2.2.1.debug.js" type="text/javascript"></script>
        	<script src="../Scripts/venues.js" type="text/javascript"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    <script type="text/javascript">
        $(function () {
            // MOCK: Get the real data from a REST endpoint
            // [{"Address":"Street : StreetNumber: 1, Street: MyStreet, City : London, PostCode : N1 3GA","Contact":"ContactName: Ian, EmailAddress: ian@huddle.com, PhoneNumber: 123454678","Id":"d738a06a-3705-4e9d-8311-dbe30440b683","Links":[{"HRef":"\/\/localhost:59280\/venue\/d738a06a-3705-4e9d-8311-dbe30440b683","Rel":"self"},{"HRef":"http:\/\/www.mysite.com\/maps\/12345","Rel":"map"}],"MapURN":"http:\/\/www.mysite.com\/maps\/12345","Name":"Test Venue","Version":1}]            venues.data = {
                var model = {
                    "Address": {
                        "Street": {
                            "StreetNumber": 1,
                            "Street": "MyStreet"
                        },
                        "City": "London",
                        "PostCode" : "N1 3GA"
                    },
                    "Contact": {
                        "ContactName": "Ian",
                        "EmailAddress": "ian@huddle.com",
                        "PhoneNumber": "123454678"
                    },
                    
            };

            //Note: Data bind the values between the source and the targets using Knockout
            ko.applyBindings(my.data);
        });
    </script>
	<div class="page">
	<!--	<div id="main">
			<div class="showroom">
				<div>
					<span data-bind="text: products().length"></span><span>Products</span>
				</div>
				<div >
					<select multiple="multiple" 
						data-bind="options: products, selectedOptions: selectedProducts">
					</select>
					<div>
						<button data-bind="click: removeSelected, enable: productsAreSelected ">Remove</button>
						<button data-bind="click: sortProducts, enable: productsExist">Sort</button>
					</div>
					<form data-bind="submit: addItem">
						Add item via push:
						<input type="text" data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />
						<button type="submit" data-bind="enable: itemToAdd().length > 0">Push</button> <span>(You can also press Enter to submit)</span>
					</form>
					<div>
						Replace an item:
						<input type="text" data-bind='value: replacementItem, valueUpdate: "afterkeydown"' />
						<button data-bind="click: replaceProduct, enable: canReplace">Replace 1st selected item</button>
					</div>
				</div>
			</div>
		</div>-->
	</div>
    </body>
</html>
