version: '3'

services:
  rabbitmq:
    image: brightercommand/rabbitmq:3.13-management-delay
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-home:/var/lib/rabbitmq

  # Need to give 2GB of memory to Docker for SQL
  sqlserver:
    image: mcr.microsoft.com/mssql/server
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password123!
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "root"
  
  redis:
    image: redis
    ports:
      - "6379:6379"
    
  postgres:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql
      - postgres-data:/etc/postgresql
      - postgres-data:/var/log/postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password

  dynamo:
    image: dwmkerr/dynamodb
    command: "-inMemory"
    hostname: dynamo
    volumes:
      - dynamodb:/data
    ports:
      - "8000:8000"

  mosquitto:
    image: efrecon/mosquitto
    ports:
      - 1883:1883

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    hostname: zookeeper
    container_name: zookeeper
    networks:
      - kafka
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - ./zoo/data:/var/lib/zookeeper/data
      - ./zoo/log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-enterprise-kafka:latest
    hostname: kafka
    container_name: kafka
    networks:
      - kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    volumes:
      - ./broker/data:/var/lib/kafka/data

networks:
  kafka:
    driver: bridge

volumes:
  eventstore-data:
  eventstore-logs:
  rabbitmq-home:
    driver: local
  mysql-data:
    driver: local
  sqlserver-data:
    driver: local
  postgres-data:
    driver: local
  dynamodb:
    driver: local
  