version: '3.8'

services:
  # RocketMQ Nameserver (Service Discovery)
  nameserver:
    image: apache/rocketmq
    container_name: rocketmq-nameserver
    ports:
      - "9876:9876"  # Nameserver port
    command: sh mqnamesrv
    healthcheck: # Health check to ensure Nameserver is ready
      test: [ "CMD", "sh", "-c", "netstat -an | grep 9876" ]
      interval: 5s
      timeout: 10s
      retries: 10
    environment:
      - JAVA_OPT_EXT=-Xms512m -Xmx512m -Xmn256m -Drocketmq.log.level=DEBUG -Drocketmq.log.root.level=DEBUG # JVM memory settings

  # RocketMQ Broker (Message Storage)
  broker:
    image: apache/rocketmq
    container_name: rocketmq-broker
    ports:
      - "10909:10909"  # Broker HA port
      - "10911:10911"  # Broker port
      - "10912:10912"  # Broker TLS port (optional)
    environment:
      - NAMESRV_ADDR=nameserver:9876  # Connect to nameserver
      - BROKER_CLUSTER_NAME=DefaultCluster
      - BROKER_NAME=broker-a
      - BROKER_ID=0
      - AUTO_CREATE_TOPIC_ENABLE=true  # Auto-create topics
      - JAVA_OPT_EXT=-Drocketmq.log.level=DEBUG -Drocketmq.log.root.level=DEBUG
    command: sh mqbroker
    depends_on:
      - nameserver
    healthcheck:
      test: [ "CMD", "sh", "-c", "netstat -an | grep 10911" ]
      interval: 5s
      timeout: 10s
      retries: 10
  
  proxy:
    image: apache/rocketmq
    container_name: rmqproxy
    depends_on:
      - broker
      - nameserver
    ports:
      - "8081:8081"   # HTTP endpoint (for REST API)
      - "9877:9877"   # gRPC endpoint (for clients)
    environment:
      - NAMESRV_ADDR=nameserver:9876
      - JAVA_OPT_EXT=-Drocketmq.log.level=DEBUG -Drocketmq.log.root.level=DEBUG
    command: sh mqproxy
    healthcheck: 
      test: [ "CMD", "sh", "-c", "netstat -an | grep 8081" ]
      interval: 5s
      timeout: 10s
      retries: 20
    
  # Service to create the RocketMQ topic
  create-topic:
    image: apache/rocketmq # Use the same RocketMQ image to get mqadmin tool
    command: > # Multi-line command to create the topic
      sh -c "
            echo 'Waiting for broker to be healthy...' &&
            until curl -s http://broker:10911/ &>/dev/null; do
              echo 'Broker not fully ready yet, retrying in 60 seconds...'
              sleep 60
            done;
            echo 'Broker is up. Creating multiple topics...' &&

            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_posting_a_message_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL && 
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_posting_a_message_with_partition_key_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_a_message_consumer_reads_multiple_messages_should_receive_all_messages -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_confirming_posting_a_message_should_receive_publish_confirmation -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_infrastructure_missing_and_assume_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_infrastructure_missing_and_validate_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_multiple_threads_try_to_post_a_message_at_the_same_time_should_not_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_posting_a_message_but_no_broker_created_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_reading_a_delayed_message_via_the_messaging_gateway_should_delay_delivery -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_requeing_a_failed_message_with_delay_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_requeing_a_failed_message_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_sending_a_message_should_propagate_activity_context -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t When_requeuing_a_message_too_many_times_should_move_to_dead_letter_queue -c DefaultCluster -r 1 -w 1 -a +message.type=NORMAL &&
      
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_posting_a_message_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY && 
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_posting_a_message_with_partition_key_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_a_message_consumer_reads_multiple_messages_should_receive_all_messages -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_confirming_posting_a_message_should_receive_publish_confirmation -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_infrastructure_missing_and_assume_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_infrastructure_missing_and_validate_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_multiple_threads_try_to_post_a_message_at_the_same_time_should_not_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_posting_a_message_but_no_broker_created_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_reading_a_delayed_message_via_the_messaging_gateway_should_delay_delivery -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_requeing_a_failed_message_with_delay_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_requeing_a_failed_message_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_sending_a_message_should_propagate_activity_context -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t DWhen_requeuing_a_message_too_many_times_should_move_to_dead_letter_queue -c DefaultCluster -r 1 -w 1 -a +message.type=DELAY &&
      
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_posting_a_message_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO && 
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_posting_a_message_with_partition_key_via_the_messaging_gateway_should_be_received -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_a_message_consumer_reads_multiple_messages_should_receive_all_messages -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_confirming_posting_a_message_should_receive_publish_confirmation -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_infrastructure_missing_and_assume_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_infrastructure_missing_and_validate_channel_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_multiple_threads_try_to_post_a_message_at_the_same_time_should_not_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_posting_a_message_but_no_broker_created_should_throw_exception -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_reading_a_delayed_message_via_the_messaging_gateway_should_delay_delivery -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_requeing_a_failed_message_with_delay_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_requeing_a_failed_message_should_receive_message_again -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_sending_a_message_should_propagate_activity_context -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
            /home/rocketmq/rocketmq-5.3.3/bin/mqadmin updateTopic -n nameserver:9876 -t PWhen_requeuing_a_message_too_many_times_should_move_to_dead_letter_queue -c DefaultCluster -r 1 -w 1 -a +message.type=FIFO &&
      
            echo 'done'
        "
    depends_on: # Ensure broker is healthy before attempting topic creation
      - broker
      - nameserver
    restart: "no" # This service should run once and then exit
    
  # RocketMQ Dashboard (Web UI - Optional)
  dashboard:
    image: apacherocketmq/rocketmq-dashboard
    container_name: rocketmq-dashboard
    ports:
      - "8080:8080"  # Dashboard UI port
    environment:
      - NAMESRV_ADDR=nameserver:9876  # Connect to nameserver
    depends_on:
      - nameserver
      - broker