version: '3'

services:
  postgres:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql
      - postgres-data:/etc/postgresql
      - postgres-data:/var/log/postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: brightertests

volumes:
  postgres-data:
    driver: local

