version: '3'

services:
   
  # Need to give 4GB of memory to Docker for SQL
  sqlserver:
    image: microsoft/mssql-server-linux
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password123!

networks:
  kafka:
    driver: bridge

volumes:
  sqlserver-data:
    driver: local
  