<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.3" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.8.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="SendGrid.SmtpApiPlus" version="1.0.1" targetFramework="net45" />
  <package id="SendGridPlus" version="4.1" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlCompact40" version="0.19.0.0" targetFramework="net45" />
</packages>