<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.15.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlCompact40" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net45" />
</packages>