<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.7.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlCompact40" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net45" />
</packages>