<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.14.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.18.3.1" targetFramework="net45" />
  <package id="Simple.Data.Core" version="1.0.0-rc3" targetFramework="net40" />
  <package id="Simple.Data.SqlCompact40" version="0.18.3.1" targetFramework="net45" />
</packages>