USE [master]
GO
/****** Object:  Database [BrighterSqlQueue]    Script Date: 1/29/2018 4:42:17 PM ******/
CREATE DATABASE [BrighterSqlQueue]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BrighterSqlQueue', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BrighterSqlQueue.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BrighterSqlQueue_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BrighterSqlQueue_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BrighterSqlQueue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BrighterSqlQueue]
GO
/****** Object:  Table [dbo].[QueueData]    Script Date: 1/29/2018 4:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](255) NOT NULL,
	[MessageType] [nvarchar](1024) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_QueueData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Topic]    Script Date: 1/29/2018 4:42:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Topic] ON [dbo].[QueueData]
(
	[Topic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
