<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.1" targetFramework="net45" />
  <package id="Thinktecture.IdentityModel.Hawk" version="2.1.1" targetFramework="net45" />
</packages>