<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.2" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="paramore.brighter.commandprocessor" version="3.0.129" targetFramework="net45" />
  <package id="Polly" version="2.2.1" targetFramework="net45" />
</packages>