<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Polly" version="2.2.4" targetFramework="net45" />
</packages>