<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="azureServiceBusMessagingGateway" type="paramore.brighter.commandprocessor.messaginggateway.azureservicebus.AzureServiceBusMessagingGatewayConfigurationSection, paramore.brighter.commandprocessor.messaginggateway.azureservicebus" />
  </configSections>
  <azureServiceBusMessagingGateway>
    <namespace name="[your namespace]"/>
    <sharedAccessPolicy name="[your policy name]" key="[your policy key]"/>
  </azureServiceBusMessagingGateway>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>