<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rmqMessagingGateway" type="paramore.brighter.commandprocessor.messaginggateway.rmq.MessagingGatewayConfiguration.RMQMessagingGatewayConfigurationSection, paramore.brighter.commandprocessor.messaginggateway.rmq" allowLocation="true" allowDefinition="Everywhere" />
    <section name="serviceActivatorConnections" type="paramore.brighter.serviceactivator.ServiceActivatorConfiguration.ServiceActivatorConfigurationSection, paramore.brighter.serviceactivator" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="sendGridUserName" value="YOUR_SENDGRID_USERNAME" />
    <add key="sendGridPassword" value="YOUR_SENDGRID_PASSWORD" />
  </appSettings>
  <connectionStrings>
    <add name="MessageStore" connectionString="Url = http://localhost:8080" />
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <rmqMessagingGateway>
    <amqpUri uri="amqp://guest:guest@localhost:5672/%2f" />
    <exchange name="paramore.brighter.exchange" />
  </rmqMessagingGateway>
  <serviceActivatorConnections>
    <connections>
      <add connectionName="mail" channelName="Task.Reminder" routingKey="Task.Reminder" dataType="Tasks.Ports.Commands.TaskReminderCommand" noOfPerformers="1" timeOutInMilliseconds="200" />
    </connections>
  </serviceActivatorConnections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>