<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="brighter.messageViewer" type="paramore.brighter.commandprocessor.messageviewer.Adaptors.API.Configuration.ConfigurationSections.MessageViewerSection, paramore.brighter.commandprocessor.messageviewer" />
        <section name="rmqMessagingGateway" type="paramore.brighter.commandprocessor.messaginggateway.rmq.MessagingGatewayConfiguration.RMQMessagingGatewayConfigurationSection, paramore.brighter.commandprocessor.messaginggateway.rmq" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
  <brighter.messageViewer port="3579">
    <stores>
      <clear />
      <add name="sqlce" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="DataSource='test.sdf';" 
           tableName="test_messages" />
      
      <add name="sqlDotmachine" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="Server=.;Database=brighterMessageStore;Trusted_Connection=True" 
           tableName="messages" />
      
      <add name="publishing-Live" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="Server=.;Database=Publishing-Local;Trusted_Connection=True" 
           tableName="MessageStore" />
    </stores>
    <broker
        assemblyQualifiedName="paramore.brighter.commandprocessor.messaginggateway.rmq.RmqMessageProducerFactory, paramore.brighter.commandprocessor.messaginggateway.rmq">
    </broker>
  </brighter.messageViewer>
  <rmqMessagingGateway>
    <amqpUri uri="amqp://guest:guest@localhost:5672/%2f" />
    <exchange name="paramore.brighter.exchange" />
  </rmqMessagingGateway>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
