<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="brighter.messageViewer" type="paramore.brighter.commandprocessor.messageviewer.Adaptors.API.Configuration.ConfigurationSections.MessageViewerSection, paramore.brighter.commandprocessor.messageviewer" />
    </configSections>
  <brighter.messageViewer port="3579">
    <stores>
      <clear />
      <!--<add name="localRaven" 
           type="paramore.brighter.commandprocessor.messagestore.ravendb.RavenMessageStore" 
           connectionstring="Url=DataDir=~\App_Data\RavenDB;Enlist=False" />
      
      <add name="remoteRaven" 
           type="paramore.brighter.commandprocessor.messagestore.ravendb.RavenMessageStore" 
           connectionstring="Url=http://ravendb.mydomain.com;User=user;Password=secret" />-->
      
      <add name="sqlce" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="DataSource='test.sdf';" tableName="test_messages" />
      
      <add name="sqlDotmachine" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="Server=.;Database=brighterMessageStore;Trusted_Connection=True" tableName="messages" />
      
      <add name="publishing-Live" 
           type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore" 
           connectionstring="Server=.;Database=Publishing-Local;Trusted_Connection=True" tableName="MessageStoreForViewer" />

    </stores>
  </brighter.messageViewer>
  <!--<brighter.messageViewer port="3579">
    <stores>
      <clear />
      <add name="sqlDotmachine"
          type="paramore.brighter.commandprocessor.messagestore.mssql.MsSqlMessageStore"
          connectionstring="rubbish"
          tableName="messages" />
    </stores>
  </brighter.messageViewer>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
