<div class="messageBox">
    <div class="modal-header">
        <h3>Color</h3>
    </div>
    <div class="modal-body">
        <form data-bind="submit: onbtnSubmit">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>Venue Name: </span>
                            <input data-bind="value: response.name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Address:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Street Number: </span>
                            <input data-bind="value: response.streetNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Street: </span>
                            <input data-bind="value: response.street" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>City: </span>
                            <input data-bind="value: response.city" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Post Code: </span>
                            <input data-bind="value: response.postcode" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Contact: </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Contact Name: </span>
                            <input data-bind="value: response.contactName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Email Address: </span>
                            <input data-bind="value: response.emailAddress" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Phone Number: </span>
                            <input data-bind="value: response.phoneNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Map:</span><input data-bind="value: response.map" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: onbtnSubmit">Ok</button>
        <button class="btn" data-bind="click: onbtnCancel">Cancel</button>
    </div>
</div>
