<div>
    <header>
        <!-- ko compose: {
            view: 'nav'
        } --><!--/ko--> 
    </header>    
    <div class="container-fluid page-host">
        <!--ko compose: { 
            model: router.activeItem, //wiring the router
            afterCompose: router.afterCompose, //wiring the router
            transition:'entrance', //use the 'entrance' transition when switching views
            cacheViews:true //telling composition to keep views in the dom, and reuse them (only a good idea with singleton view models)
        }--><!--/ko-->
    </div>
</div>