<section>
    <div class="venuelist">
        <table>
            <thead>
                <tr>
                    <th>
                        <span>Name</span>
                    </th> 
                    <th>
                        <span><em>Address</em></span>
                    </th>
                    <th>
                        <span><em>Contact:</em></span>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: venueList">
                <tr>
                    <td style ="width:300px">
                        <address data-bind="text: name" />
                    </td>
                    <td style ="width:300px">
                        <span>Street Number: </span><address data-bind="text: streetNumber" />
                        <span>Street: </span><address data-bind="text: street" />
                        <span>City:</span><address data-bind="text: city" />
                        <span>Post Code:</span><address data-bind="text: postcode" />
                    </td>
                    <td style ="width:300px">
                        <span>Name: </span><address data-bind="text: contactName" />
                        <span>Email Address:</span><address data-bind="text: emailAddress" />
                        <span>Phone Number:</span><address data-bind="text: phoneNumber" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div data-bind="if: map ">
                            <a data-bind="attr: { href: map }" target="_blank">Map</a>
                        </div>
                        <div data-bind="ifnot: map">
                            <span>Map:</span><address data-bind="text: map"/>
                        </div>
                        <hr />
                    </td>
                </tr>
            </tbody>
        </table>
        <button data-bind='click: addVenue'>Add Venue</button>
    </div>
</section>
