<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.7.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Polly" version="1.1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.2.4" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Tests.Helpers" version="2.5.2851" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.1.0.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>