body {
    padding-bottom: 20px;
    padding-top: 50px;
    font: 300 14px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: none repeat scroll 0% 0% #F5F5F5;
    color: #4D4D4D;
    min-width: 230px;
    max-width: 750px;
    margin: 0px auto;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

h1 {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizelegibility;
}

#taskList {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}
#taskList li:last-child {
    border-bottom: medium none;
}
#taskList li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #EDEDED;
    padding: 16px 16px 16px 60px;
}
#taskList li.completed label {
    color: #D9D9D9;
    text-decoration: line-through;
}
#todoList header {
    padding: 16px 16px 16px 60px;
    border: medium none;
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.03) inset;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    line-height: 35px;
}
#todoList span.taskInfoRow {
    display: inline-block;
    min-width: 300px;
}
#todoList div.mailForm {
    margin: 20px 5px 5px 50px;
    margin-left: 50px;
    line-height: 1.2em;
}
#todoList input.emailAddress {
    min-width: 350px;
    font-size: 20px;
}