<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rmqMessagingGateway" type="paramore.brighter.commandprocessor.messaginggateway.rmq.MessagingGatewayConfiguration.RMQMessagingGatewayConfigurationSection, paramore.brighter.commandprocessor.messaginggateway.rmq" allowLocation="true" allowDefinition="Everywhere" />
    <section name="serviceActivatorConnections" type="paramore.brighter.serviceactivator.ServiceActivatorConfiguration.ServiceActivatorConfigurationSection, paramore.brighter.serviceactivator" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="monitoring" type ="paramore.brighter.commandprocessor.monitoring.Configuration.MonitoringConfigurationSection, paramore.brighter.commandprocessor" allowLocation ="true" allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <monitoring>
    <monitor isMonitoringEnabled="true" instanceName="ManagementAndMonitoring"/>
  </monitoring>
  <runtime>
  </runtime>
  <rmqMessagingGateway>
    <connection name="messages">
      <amqpUri uri="amqp://guest:guest@localhost:5672/%2f" />
      <exchange name="paramore.brighter.exchange" />
    </connection>
    <connection name="monitoring">
      <amqpUri uri="amqp://guest:guest@localhost:5672/%2f" />
      <exchange name="paramore.brighter.exchange" />
    </connection>
  </rmqMessagingGateway>
  <serviceActivatorConnections>
    <connections>
      <add connectionName="paramore.example.greeting" channelName="greeting.command" routingKey="greeting.command" dataType="ManagementAndMonitoring.Ports.Commands.GreetingCommand" timeOutInMilliseconds="200" />
    </connections>
  </serviceActivatorConnections>
</configuration>