<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="FakeItEasy" version="1.8.0" targetFramework="net40" />
  <package id="Machine.Fakes" version="1.1.0" targetFramework="net40" />
  <package id="Machine.Fakes.FakeItEasy" version="1.1.0" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.11" targetFramework="net40" />
</packages>